
<div class='banner' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532679170412-b56d03dcd115?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80)">

<%= link_to 'Home', cocktails_path, class: "nav-link" %>


<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="cocktail-show-card">
        <h1><%= @cocktail.name %></h1>
        <p> </p>
        <%= cl_image_tag @cocktail.photo.key, height: 320, width:400, crop: :fill, class:"img-show"%>
        <% @cocktail.doses.each do |dose| %>
          <p> </p>
          <p><%= dose.description %></p>
          <p><%= dose.ingredient.name %></p>
          <%= link_to 'Deletar dose', dose_path(dose),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "btn btn-primary" %>
          <% end %>
      </div>
<%= link_to 'Adicione doses', new_cocktail_dose_path(@cocktail), class: "btn btn-primary"  %>
<%= link_to "Remove", cocktail_path(@cocktail),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "btn btn-primary" %>
    </div>
  </div>
</div>

</div>
